<section>
  <h3>Search</h3>
  <iframe class="search-box" src="https://duckduckgo.com/search.html?site=yqrashawn.com&prefill=search"></iframe>
</section>
<section>
  <h3>Meta</h3>
  <ul>
    <li><a href="rss.xml">RSS feed</a></li>
    <li><a href="https://github.com/yqrashawn/blog">View source code</a></li>
  </ul>
</section>
<section>
  <h3>About</h3>
  <ul>
    <li>Author: <a href="http://github.com/yqrashawn">yqrashawn</a></li>
    <!-- <li>Twitter: <a href="http://twitter.com/yqrashawn">@yqrashawn</a></li> -->
  </ul>
</section>
